/**************Footer************/
.footer {
    padding-top: 120px;
    padding-bottom: 5px;
}
.footer__row {
    display: flex;
    justify-content: space-between;
}
.footer__column {
    max-width: 250px;
    padding-bottom: 60px;
}
.footer__group {}
.footer__title {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color: #004cff;
}
.footer__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 10px;
}
.footer-list {
    font-size: 18px;
    line-height: 1.5;
}
.footer-list__item {
    color: #f1f1f1;
    font-weight: 600;
}
.footer-list__item:hover {
    color:  #053bb9;
}
.footer__logo{
    margin-top: 35px;
    margin-bottom: 35px;
}
.footer__cards{
    display: flex;
    justify-content: space-around;
    margin-left: -5px;
}
.footer__text p{
    margin-bottom: 25px;
}
/**************/
.social {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.social__item {
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #004cff;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    align-items: center;
    color: #fff;
    transition: background-color 0.2s ease;
}
.social__item:hover{
    color: #053bb9;
    background-color: #fff;
}
/**************/
.copyright {
    max-width: 1310px;
    margin: 0 auto;
    border-top: 2px solid #b2b2b2;
    padding-top: 50px;
    padding-bottom: 50px;
}
.copyright__row{
    display: flex;
    justify-content: space-between;
}
.copyright__links {
    display: flex;
    justify-content: space-between;
}
.copyright__links-item {
    margin-right: 44px;
    color: #f1f1f1;
    font-family:'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 21px;
    font-weight: 400;
    line-height: 24.75px;
    margin-right: 45px; 
    transition: opacity 0.2s ease-in;
}
.copyright__links-item a{
    color: #b2b2b2;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.7;
    text-decoration: none;
}
.copyright__links-item a:hover{
    color: #004cff;
}
.copyright__text-link {
    color: #b2b2b2;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.7;
}
.copyright__text-link:hover {
    color:  #004cff;
    text-decoration: underline;
}
@media screen and (max-width: 1350px) {
    .copyright{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .footer__row{
        flex-direction: column;
        align-items: center;
    }
    .footer__column{
        max-width: 1000px;
        padding-bottom: 20px;
        text-align: center;
    }
    .footer__group{
        text-align: center;
    }
    .footer__title{
        margin-top: 5px;
        margin-bottom: 8px;
    }
    .social{
        justify-content: center;
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer__logo{
        display: none;
    }
    .footer__cards{
        justify-content: center;
    }
}
@media screen and (max-width: 950px) {
    .copyright{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .copyright__links-item a{
        font-size: 15px;
        font-weight: normal;
    }
    .copyright__text {
        font-size: 15px;
        font-weight: normal;
    }
}
@media screen and (max-width: 390px) {
    .copyright{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .copyright__row{
        flex-direction: row;
        text-align: center;
    }
    .copyright__links{
        flex-direction: column;
    }
    .copyright__links-item a{
        font-size: 12px;
    }
    .copyright__text {
        font-size: 12px;
    }
}
/********************************/