/****************HEADER***************/
.header{
    height: 759px;
    width: 100%;
    background-color: #837161;
    background: url('../img/header-bg1.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    margin: auto;
}
.header__nav-row{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 980px) {
        padding-left: 25px;
        padding-right: 25px;
    }
    @media screen and (max-width: 490px) {
        justify-content: center;
    }
}
.header__logo {
    @media screen and (max-width: 490px) {
        display: none;
    }
}
.main-logo {
    width: 100%;
    @media screen and (max-width: 980px) {
        width: 80%;
    }
}
/*****************/
.header__nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 980px) {
        display: none;
    }
}
/*****************/
.header__navlink {
    color: #404040;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    background: url("../img/icons/dot.svg") right 45% no-repeat;
    margin-right: 25px;
    padding-right: 25px;
}
.header__navlink:hover{
    color: #004cff;
    transition: color 0.2s ease-in;
}
.header__navlink:active{
    color:rgb(0, 76, 255) ;
    text-decoration: underline;
}
.header__navlink_last{
    background: none;
}
.header__button{
    display: flex;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 28px;
    padding-bottom:25px;
    background-color: #004cff; 
    color: #ffffff;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height:23px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    transition: background-color 0.2s ease-in;
    @media screen and (max-width: 490px) {
        margin-top: 60px;
    }
}
.header__button:hover{
    background-color: rgb(13, 53, 138);
}
.header__promo {
    max-width: 420px;
    margin-top: 140px;
    padding-bottom: 5px;
    @media screen and (max-width: 1160px) {
        padding-left: 25px;
    }
    @media screen and (max-width: 980px) {
        padding-left: 25px;
    }
    @media screen and (max-width: 490px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 0;
    }
}
.header__title {
    color: #ffffff;
    font-family: "Teko";
    font-size: 68px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 2.73px;
    margin-bottom: 124px;

    @media screen and (max-width: 980px){
        font-size: 60px;
        color: #404040;

    }
    @media screen and (max-width: 490px) {
        text-align: center;
        font-size: 50px;
    }
}
.header__promo-btn {
    border: 6px solid rgb(255, 255, 255);
    padding: 25px 48px 25px 48px;
    margin-right: 110px;
    transition: background-color 0.2s ease-in;
    @media screen and (max-width: 980px){
        padding: 16px 20px 16px 20px;
        font-size: 16px;
        font-weight: 600;
        border: 6px solid rgb(255, 255, 255);
    }
    @media screen and (max-width: 490px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.header__promo-btn{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}
.header__promo-btn:hover{
    background-color: #fff;
    color: #404040;
    transition: background-color color 0.5s ease-in;
}
/***********************************************/