/******** Топ-продажі  2 *********/

.top-sales {
    display: none;
}
.container2 {
}
.top-sales-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.top-sales-wrapper__item {
    margin-bottom: 22px;
    margin-top: 60px;
    width: 600px;
    height: 500px;
}
/*
.top2-sale-foto {
    height: 486px;
    margin-top: 131px;
    margin-bottom: 44px;
}
*/

.top-sales-wrapper__item-big {
    margin-top: 100px;
}
.top2-sale-foto-big {
}
/********************************/

