/*******  TOP-PANEL **********/
.top-panel{
    width: 100%;
    height: 78px;
    background-color:#262626;
    color: #f8f8f8;
    opacity: 0.5;
}
.top-panel:hover{
    opacity: 1;
}
.container1{/*контейнер1 по ширині*/
    max-width: 1090px;
    margin: 0 auto;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    
}
.top-panel__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.top-panel__notification{
    color: #ffffff;
    font-size: 11px;
    margin-right: 15px;
    font-weight: 500;
    @media screen and (max-width: 490px) {
        display: none;
    }
}
.top-panel__notification-icon{
    display: none;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
    @media screen and (max-width: 490px) {
        display: block;
    }
}
.top-panel__icons{
    height: 100%;
    margin-right: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-panel__link:not(:last-child){
    margin-right: 30px;
    @media screen and (max-width: 487px) {
        margin-right: 50px;
    }
}

/*********************************/


